@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


.individual-items-font{
    font-family: 'Inter Tight', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    

}
.total-amount-font{
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.column-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.column-item {
  flex: 1;
  text-align: left;
}

.quantity {
  text-align: center;
}

.price {
  text-align: right;
}

.delete-icon {
  color: red;
  font-size: 20px;
  position: relative;
  top: 0.3em;
}
  


.special-instructions-input::placeholder {
    color: #595959;
    font-weight: bold;
  }

  .input-wrapper {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #595959;
  }