@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.font-label-heading {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: uppercase;

}
.label-button-font {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-font {
  font-family: 'Inter Tight', sans-serif;
 font-size: 1rem; 
}

.price-font {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;

}


.item-label-font {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.6rem;

}

.quantity-button {
        border-radius: 10%;
        display: flex;
         width: 100px;
        background-color: rgb(249, 250, 250);
        padding: 10px;   
        margin: auto;
        
}
@media screen and (max-width: 600px) {
  .quantity-button {
    left: 55% !important;
  }
}

.label-rectangle-button {
    border: 1px solid black;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 16px;
  }
  .parent-container {
    position: relative;
    min-height: 100vh;
  }

  .items-added-box {
    background-color: #5cfa5c;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80vw;
    width: 100%;
  }
  @media (min-width: 1024px) {
    .items-added-box {
      left: 31%;
      transform: none;
      width: 35%;
    }
  }

  .square-image {
    width: 185px; 
    height: 160px; 
    object-fit: cover;
    
  }
  .grey-gradient {
    background: linear-gradient(to right, #797878, #333);
  }
