@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.custom-font {
  font-family: 'Inter Tight', sans-serif;
 font-size: 1rem; 
}

.item-label-font {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.5rem;

}

.quantity-button {
        border-radius: 10%;
        display: flex;
        justify-content: space-between;
        width: 100px;
        background-color: lightblue;
        padding: 10px;   
        align-self: flex-start;  
}

.rectangle-button {
    border: 1px solid black;
    border-radius: 14%;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 16px;
  }

  .items-added-box {
    position: fixed;
    bottom: 0;
    width: 29%;
    background-color: #5cfa5c;
    border-radius: 5px;
    padding: 10px;
   justify-content: space-between;
   align-items: center;
    cursor: pointer;
   display: flex; 
   cursor: pointer;
   z-index: 1;
  }

  .square-image {
    width: 185px; 
    height: 160px; 
    object-fit: cover;
  }