@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.menu-font{
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;

}

.items-order-button {
    margin-top: 20px;
    background-color: #1f6ff0;
    color: white;
    font-size: 1.1rem;
    border-radius: 2rem;
    width: 25rem;
    height: 2.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeButton-Order {
    font-size: 1.1rem;
    border-radius: 2rem;
    margin-top: 20px;
    width: 25.2rem;
    height: 2.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    color: white;
  }
  
  .timeRemainingText-Order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .timeRemainingContainer-Order {
    width: 4rem;
    margin-left: 0.5rem;
  }
  
  .timeRemainingDigits-Order {
    color: red;
  }