.items-confirm-button {
    margin-top: 20px;
    background-color: #1f6ff0;
    color: white;
    width: 50%;
    border-radius: 5%;
  }

  .items-confirm-button.confirmed {
    background-color: green;
    color: white;
  }